header {
  height: auto;
  z-index: 1;
  position: absolute;
  margin-left: 10px;
  margin-right: 10px;

}

.headerContainer {
  transition: all 0.5s;
}

.closeMobileHeader {
  transform: translateY(-85px);
  transition: all 0.5s;
}

.headerMobileMenuIcon {
  float: right;
  font-size: 20px;
  display: none;
}

.headerLogo {
  float: left;
  font-size: 30px;
  padding-top: 10px;
  

  a {
    img{
      width:120px;
      height: auto;
    }
  }

}

.headerMenu {
  float: right;
  font-family: "Courier New", Courier, monospace;
  color: $pColor;

  li {
    display: inline;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 5px;
  }
}

.margin0percent {
  margin-left: 0px;
  margin-right: 0px;
}

@media only screen and (max-width: $largescreen) {
}
@media only screen and (max-width: $mediumlargescreen) {
}
@media only screen and (max-width: $mediumscreen) {
  header {
    background-color: $menu_background;
    height: 45px;
    padding: 10px;
    box-shadow: none;
  }

  .headerMenu {
    display: none;
  }

  .headerLogo {
    float: left;
    font-size: 26px;
    font-family: PT Sans;

    color: $darkgreygreen;
    margin-top: 10px;
    a {
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 5px;
      padding-right: 5px;
    }
  }

  .closeMobileHeader {
    transform: translateY(-60px);
  }
}

@media only screen and (max-width: $smallscreen) {
}
