section{
width: 100%;
padding-top:150px; 
}

.background_normal{
    background-image: url("/Static/mylvlup_background.png") ;
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: white;
}

.background_upsidedown{
    background-image: url("/Static/mylvlup_background_upsidedown.png") ;
    background-size: 100%;
    background-repeat: no-repeat;    
    background-color: #99d9ea;
}

.background_white{
    background-color: white;
    border-top: 1px solid rgba(0, 0, 0, 0);
}

.background_skycolor{
    background-color: #99d9ea;
    border-top: 1px solid rgba(0, 0, 0, 0);
}

.margin10{
    margin-left: 10%;
    margin-right: 10%;
}

.margin20{
    margin-left: 20%;
    margin-right: 20%;
}


@media only screen and (max-width: $smallscreen) {
    .margin10{
        margin-left: 5%;
        margin-right: 5%;
    }

    .margin20 {
        margin-left: 5%;
        margin-right: 5%;
    }
}