a:link {
  text-decoration: none;
  color: inherit;
  transition: all 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

a:visited {
  text-decoration: none;
}



@media only screen and (max-width: $mediumscreen) {
  iframe{
    width: 80vw;
    margin-left: -10vw;
  }  
}