#contact {
  height: 100vh;
  text-align: left;

  .aboutHorizontalLine {
    width: 100%;
  }

  p {
    width: 60%;
    float: left;
  }

  h2 {
    width: 100%;
    text-align: left;
    line-height: 0px;
    margin: 20px 0 20px;
    height: 0px;
    border-bottom: 0px solid white;

    code {
      font-size: inherit;
      font-family: "Courier New", Courier, monospace;
    }
  }

  h2 span {
    background: $background;
    padding-left: 10px;
    margin-right: -1px;
  }
}

.contactDescription {
  background: $background;
}

@media only screen and (max-width: $largescreen) {
  #contact {
    display: block;

    .aboutHorizontalLine {
      margin-top: 0px;
      width: 100%;
    }
  }
}

@media only screen and (max-width: $mediumlargescreen) {
  #contact {
    p {
      width: 80%;
      float: left;
    }
  }
}
@media only screen and (max-width: $mediumscreen) {
  #contact {
    left: 5%;
    width: 90%;
    p {
      width: 90%;
      float: left;
    }
  }
}
@media only screen and (max-width: $smallscreen) {
}
