#contact {
  height: 100vh;
  text-align: left;
  margin-top: 0px;


  p {
    width: 100%;
    float: left;
  }

  h2 {
    width: 100%;
    text-align: left; 
  }
}

@media only screen and (max-width: $largescreen) {
  #contact {
    display: block;

    .aboutHorizontalLine {
      margin-top: 0px;
      width: 100%;
    }
  }
}

@media only screen and (max-width: $mediumlargescreen) {
  #contact {
    p {
      width: 80%;
      float: left;
    }
  }
}
@media only screen and (max-width: $mediumscreen) {
  #contact {
    left: 0%;
    width: 100%;
    p {
      width: 100%;
      float: left;
    }
  }
}
@media only screen and (max-width: $smallscreen) {
}
