// Stylesheet for Home section
#home {
  height: 100vh;
 
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin: 0px;
  padding: 0px;
  left: 0px;


  h1 {
    font-size: 70px;
    color: $h1Color;
  }

  h2 {
    font-size: 40px;
    color: $h1Color;
  }
  p {
    width: 70%;
    margin-top: 5vh;
  }

  .homeButtonsContainer{
    display:flex;
    justify-content: flex-start;

    img{
      height: 60px;
      margin-left:20px;

    }

    button{
    height: 60px;
    }

  }

}

@media only screen and (max-width: $largescreen) {
  #home {
  }
}
@media only screen and (max-width: $mediumlargescreen) {
  #home {
  }
}
@media only screen and (max-width: $mediumscreen) {
  #home {
  }
}
@media only screen and (max-width: $smallscreen) {
  #home {
    .homeButtonsContainer{
      display:flex;
      flex-direction: column;
      justify-content: flex-start;
  
      img{
        height: 60px;
        margin-left:0px;
        margin-bottom: 15px;
  
      }
  
      button{
      height: auto;
      display: none;
      }
  
    }
  }
}
